{#
/**
 * For use with views-view "view_sr_heading" block.
 *
 * Is this an excessive use of partial/include templates? YA IT MIGHT BE!! ...here's the thing: I'm repeating something four times, so it feels WRONG not to use an include.
 * Is there a more elegant solution? MAYBE!! DO YOU KNOW ONE?? NO?? K, LEEMEALONE. ...here's the thing: I'm already spending too much time on this, and Eric isn't free, and it's nighttime, so I'm goin' with it.
 * All that said... There will be a PR on CD Demo (er, cwd_base), and I'll raise these questions. Now leave me alone.
 */
#}
<h2 class="sr-only">Full listing</h2>
