{#
/**
 * For use with views-view "view_sr_heading" block.
 *
 * Is this an excessive use of partial/include templates? YA IT MIGHT BE!! ...here's the thing: I'm repeating something four times, so it feels WRONG not to use an include.
 * All that said... Feel free to open an issue/PR.
 */
#}
<h2 class="sr-only">Full listing</h2>
