{#
/**
 * @file
 * Theme override for any menu block placement of "main" menu.
 * IRL: Only meant for cwd_*_main_menu block.
 * 💬 This menu block is a core menu block, not a menu_block module menu block, so there's no theme hook suggestion setting to target it more specifically. Should we redo the main menu block with the menu_block module? Maybe! Not sure it's worth the trouble it would cause, but I think it's worth considering.
 * Related: https://github.com/CU-CommunityApps/CD-demo/issues/79
 *
 * See @cwd_base/block--system-menu-block.html.twig for available variables and other info.
 */
#}
<nav class="dropdown-menu dropdown-menu-on-demand" id="main-navigation" aria-label="Main Navigation">
  <div class="container-fluid">
    <a id="mobile-home" href="/"><span class="sr-only">Home</span></a>
    {# Menu. #}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</nav>
