{#
/**
 * @file
 * Theme override for any menu block placement of "utility-navigation" menu.
 * IRL: This template is only used by cwd_*_utilitynavigation (on CD Demo).
 *
 * See @cwd_base/block--system-menu-block.html.twig for available variables and other info.
 */
#}
<nav id="utility-navigation" aria-label="Supplementary Navigation">
  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
