{#
/**
 * @file
 * Theme override for any menu block placement of "main" menu.
 * IRL: This template is only used by cwd_*_mainnavigation (on CD Demo), but it
 * works fine for any instance of "main" menu placed in sidebar_primary.
 *
 * See @cwd_base/block--system-menu-block.html.twig for available variables and other info.
 */
#}
{# Label. #}
{% if label %}
<h2{{ title_attributes.addClass('menu-block-title') }}>{{ label }}</h2>
{% endif %}
<nav class="secondary-navigation drupal-section-navigation mobile-expander" aria-label="Section Navigation">
  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
